<div class="form-group">
  <label for="name">Name</label>
  <input type="text" class="form-control" name="name" placeholder="Enter name" value="<%= @product.name if @product%>">
</div>
<div class="form-group">
  <label>Price in cents</label>
  <input type="text" class="form-control" name="price_in_cents" placeholder="Price in cents" value="<%= @product.price_in_cents  if @product%>">
</div>
<button type="submit" class="btn btn-default">Submit</button>
