<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Bookstore Admin</a>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <p> Create a new product.</p>
      <%= erb :'products/form', locals: {show_name: false} %>
    </div>
  </div>

</div>
