<!DOCTYPE html>
<html lang="en">
<head>
  <%= erb :"layouts/_bootstrap_stylesheets" %>
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/stylesheets/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/javascript/bootstrap.min.js"></script>
  <script src="/javascript/application.js"></script>

  <title>Bookstore</title>
</head>
<body>
  <%= yield %> <%# erb is rendered here %>
  <div>(c) Awesome Bookstore Site</div>
</body>
</html>
